= render partial: "groups/side_bar", locals: {groups: @groups}
.chat
  .chat__info
    .chat__info__left
      .chat__info__left__title
        = @group.name
      .chat__info__left__members
        Member:
        - @users.each do |user|
          %li.chat__info__left__members__user
            = user[:name]
    =link_to edit_group_path(params[:group_id]), class: "chat__info__right"  do
      .chat__info__right__edit<>Edit
  .chat__main
    .chat__main__name
      user-name
    .chat__main__day
      2019/8/21(wed) 12:00:00
    .chat__main__text
      testtest
  .chat__input
    %input{type: "text", class: "chat__input__message", placeholder: "type a message"}
    %label{for: "upload-icon"}
      =fa_icon "picture-o", class: "chat__input__icon fa-lg"
      %input{type: "file", class: "chat__input__file", id: "upload-icon"}
    %input{type: "submit", class: "chat__input__send", value: "send"}
