.header
.side
  .side__header
    .side__header__name
      user-name
    =link_to "http://www.gfc-ob.jp/", class: "side__header__edit" do
      =fa_icon "cog"
    =link_to "http://www.gfc-ob.jp/", class: "side__header__new" do
      =fa_icon "edit"
  .side__groups
    .side__group
      .side__groups__group__title
      .side__groups__group__last-message
.chat
  .chat__info
    .chat__info__title
    .chat__info__members
    .chat__info__edit
  .chat__messages
  .chat__input
    .chat__input__message
      .chat__input__message__file
    .chat__input__send
