.header
.side
  .side__header
    .side__header__name
      user-name
    =link_to "", class: "side__header__edit" do
      =fa_icon "cog"
    =link_to "", class: "side__header__new" do
      =fa_icon "edit"
  .side__groups
    .side__groups__group
      %p.side__groups__group__title<>title
      %p.side__groups__group__last-message<>last-message
.chat
  .chat__info
    .chat__info__left
      %p.chat__info__left__title<>title
      %p.chat__info__left__members<>members
    =link_to "", class: "chat__info__right"  do
      .chat__info__right__edit<>Edit
  .chat__messages
  .chat__input
    .chat__input__message
      .chat__input__message__file
    .chat__input__send
