.header
  グループを作成しました
.side
  .side__header
    .side__header__name
      user-name
    =link_to "", class: "side__header__edit" do
      =fa_icon "cog"
    =link_to "", class: "side__header__new" do
      =fa_icon "edit"
  .side__groups
    .side__groups__group
      .side__groups__group__title 
        title
      .side__groups__group__last-message
        last-message
.chat
  .chat__info
    .chat__info__left
      .chat__info__left__title
        title
      .chat__info__left__members
        members
    =link_to "", class: "chat__info__right"  do
      .chat__info__right__edit<>Edit
  .chat__main
    .chat__main__name
      user-name
    .chat__main__day
      2019/8/21(wed) 12:00:00
    .chat__main__text
      testtest
  .chat__input
    %input{type: "text", class: "chat__input__message", placeholder: "type a message"}
    %label{for: "upload-icon"}
      =fa_icon "picture-o", class: "chat__input__icon fa-lg"
      %input{type: "file", class: "chat__input__file", id: "upload-icon"}
    %input{type: "submit", class: "chat__input__send", value: "send"}
