.notification{
  position: fixed;
  width: 100%;
}
.side{
  width: 300px;
  color: $white-font;
  float: left;
  &__header{
    background-color: #253141;
    height: 100px;
    font-weight: bold;
    &__name{
      font-size: 16px;
      display: inline-block;
      line-height: 100px;
      padding-left: 20px;
      float: left;   
    }
    &__edit{
      float: right;
      display: inline-block;
      line-height: 100px;
      color: $white-font;
      padding: 0 20px 0 5px;
    }
    &__new{
      float: right;
      display: inline-block;
      line-height: 100px;
      color: $white-font;
    }
  }
  &__groups{
    background-color: #2f3e51;
    overflow: scroll;
    padding: 20px 20px 0 20px;
    height: calc(100vh - 120px);
    &__group{
      height: 91px;
      text-decoration: none;
      &__title{
        font-size: 15px;
        color: $white-font;
        width: 100%;
      }
      &__last-message{
        font-size: 11px;
        padding: 5px 0 40px;
        color: $white-font;
      }
    }
  }
}

.chat{
  background-color: #fafafa;
  float: left;
  width: calc(100vw - 300px);
  &__info{
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0 40px 0;
    display: flex;
    overflow: scroll;
    box-sizing: border-box;
    &__left{
      &__title{
        font-size: 20px;
        color: #333333;
        padding: 35px 0 15px;
      }
      &__members{
        font-size: 12px;
        color: #999999;
        display: flex;
        list-style: none;
        &__user{
          padding-left: 10px;
        }
      }
    }
    &__right{
      &__edit{
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px 0;
        border: solid 1px $btn;
        display: block;
        position: absolute;
        right: 40px;
        color: $btn;
      }
    }
  }
  &__main{
    height: calc(100vh - 282px);
    padding: 46px 40px;
    overflow: scroll;
    &__name{
    font-size: 16px;
    font-weight: bold;
    color: $light-font;
    display: inline-block
    }
    &__day{
      padding-left: 10px;
      font-size: 12px;
      color: #999999;
      display: inline-block
    }
    &__text{
      padding: 10px 0 40px;
      font-size: 14px;
      color: $light-font;
    }
    &__image{
      padding-bottom: 40px;
    }
  }
  &__form{
    height: 90px;
    background-color: #ddd;
    padding: 20px 40px;
    box-sizing: border-box;
    &__box{
      display: flex;
      position: relative;
      &__message{
        height: 50px;
        width: 100%;
        padding: 0 50px 0 10px;
        border-style: none;
      }
      &__input{
        position: absolute;
        right: 150px;
        top: 15px;
        &__image{
        cursor: pointer;
        }
        &__file{
          display: none;
        }
      }
      &__send{
        background-color: $btn;
        color: $white-font;
        padding: 0 30px;
        margin-left: 25px;
      }
    }
  }
}
